{% extends "base.html" %}

{% block content %}
    <h1> {{ title }} </h1>
    <h2>Categories:</h2>
    {% for category in categories %}
    <div><p>Category: {{ category.name }}, Id:  {{category.id}} </b></p></div>
    {% endfor %}
    <h2>Transaction types:</h2>
    {% for type in types %}
    <div><p>Name: {{ type.name }}, Id:  {{type.id}} </b></p></div>
    {% endfor %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>Add new transaction</p>
        <p>{{ form.name.label }}<br>{{ form.name(size=32) }}</p>
        <p>{{ form.amount.label }}<br>{{ form.amount(size=32) }}</p>
        <p>{{ form.type_id.label }}<br>{{ form.type_id(size=32) }}</p>
        <p>{{ form.category_id.label }}<br>{{ form.category_id(size=32) }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
